<div class="post">
  <div class="header">
    <h1>Title</h1>

    <button class="btn btn-link">На главную</button>
  </div>

  <div class="info">
    <strong>Тут автор</strong>
    <small>14.01.2020</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut doloremque doloribus expedita fuga fugit hic, laboriosam laborum magni, mollitia nihil perferendis recusandae soluta vero voluptatum! A eius illo ipsum libero magni molestiae quae quam rerum tenetur voluptas. Aliquam blanditiis cupiditate debitis, ea eveniet facilis laborum modi non quae velit!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut doloremque doloribus expedita fuga fugit hic, laboriosam laborum magni, mollitia nihil perferendis recusandae soluta vero voluptatum! A eius illo ipsum libero magni molestiae quae quam rerum tenetur voluptas. Aliquam blanditiis cupiditate debitis, ea eveniet facilis laborum modi non quae velit!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut doloremque doloribus expedita fuga fugit hic, laboriosam laborum magni, mollitia nihil perferendis recusandae soluta vero voluptatum! A eius illo ipsum libero magni molestiae quae quam rerum tenetur voluptas. Aliquam blanditiis cupiditate debitis, ea eveniet facilis laborum modi non quae velit!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut doloremque doloribus expedita fuga fugit hic, laboriosam laborum magni, mollitia nihil perferendis recusandae soluta vero voluptatum! A eius illo ipsum libero magni molestiae quae quam rerum tenetur voluptas. Aliquam blanditiis cupiditate debitis, ea eveniet facilis laborum modi non quae velit!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut doloremque doloribus expedita fuga fugit hic, laboriosam laborum magni, mollitia nihil perferendis recusandae soluta vero voluptatum! A eius illo ipsum libero magni molestiae quae quam rerum tenetur voluptas. Aliquam blanditiis cupiditate debitis, ea eveniet facilis laborum modi non quae velit!</p>
  </div>
</div>
